openapi: 3.1.0
info:
  title: Jieun Studio Public API
  version: "1.0.0"
  description: >
    Public API surface exposed by jieun-platform's api-gateway. This document
    covers the Fase 0 surface (health checks + shared schemas). Endpoints are
    added phase-by-phase per PLAN.md §6 — see api/*.md for the full spec each
    phase codifies here.
servers:
  - url: https://api.jieun.studio/v1
    description: Produksi
  - url: https://api.staging.jieun.studio/v1
    description: Staging
  - url: http://localhost:18080/v1
    description: Lokal
security:
  - bearerAuth: []
paths:
  /health:
    get:
      operationId: getHealth
      summary: Liveness dengan info versi
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [status, version]
                properties:
                  status: { type: string, enum: [ok] }
                  version: { type: string }
  /healthz:
    get:
      operationId: getHealthz
      summary: Liveness probe, tanpa autentikasi
      security: []
      responses:
        "200":
          description: OK
  /readyz:
    get:
      operationId: getReadyz
      summary: Readiness probe (DB, Redis, MinIO)
      security: []
      responses:
        "200":
          description: Siap menerima lalu lintas
        "503":
          description: Salah satu dependensi tidak sehat
  /plans/public:
    get:
      operationId: listPublicPlans
      summary: Daftar paket yang tampil ke publik (landing page, harga)
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Plan"
  /dashboard:
    get:
      operationId: getDashboard
      summary: Satu panggilan gabungan untuk seluruh layar beranda
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Dashboard"
  /videos:
    get:
      operationId: listVideos
      summary: Daftar video di galeri (filter status/method/pencarian, kursor)
      parameters:
        - { name: status, in: query, schema: { type: string } }
        - { name: method, in: query, schema: { type: string } }
        - { name: q, in: query, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, page]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VideoSummary"
                  page:
                    $ref: "#/components/schemas/Page"
  /videos/bulk-delete:
    post:
      operationId: bulkDeleteVideos
      summary: Hapus banyak video sekaligus, satu transaksi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  items: { type: string }
      responses:
        "204":
          description: Terhapus
  /videos/{id}:
    get:
      operationId: getVideo
      summary: Detail video — metadata, distribusi, riwayat
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/VideoDetail"
    delete:
      operationId: deleteVideo
      summary: Hapus video (soft delete); ditolak bila ada distribusi terjadwal
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204":
          description: Terhapus
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, retryable, trace_id]
          properties:
            code:
              type: string
              enum:
                - VALIDATION_FAILED
                - UNAUTHENTICATED
                - EMAIL_NOT_VERIFIED
                - MFA_REQUIRED
                - FORBIDDEN
                - NOT_FOUND
                - CONFLICT
                - QUOTA_EXCEEDED
                - PLATFORM_QUOTA_EXCEEDED
                - TOKEN_EXPIRED
                - RATE_LIMITED
                - ENGINE_UNAVAILABLE
                - PAYLOAD_TOO_LARGE
                - INTERNAL
            message: { type: string }
            details: { type: object }
            retryable: { type: boolean }
            trace_id: { type: string }
    Plan:
      type: object
      required: [id, name, trial_days, visible, price_idr, quotas, features, allowed_engines, benefits]
      properties:
        id: { type: string }
        name: { type: string }
        trial_days: { type: integer }
        visible: { type: boolean }
        price_idr:
          type: object
          required: [month, year]
          properties:
            month: { type: integer }
            year: { type: integer }
        quotas:
          type: object
          required: [videos_per_month, storage_mb, social_accounts, max_upload_mb, max_source_duration_min]
          properties:
            videos_per_month: { type: integer }
            storage_mb: { type: integer }
            social_accounts: { type: integer }
            max_upload_mb: { type: integer }
            max_source_duration_min: { type: integer }
        features:
          type: object
          required: [api_access, priority_queue, watermark_forced, byok, log_retention_days]
          properties:
            api_access: { type: boolean }
            priority_queue: { type: boolean }
            watermark_forced: { type: boolean }
            byok: { type: boolean }
            log_retention_days: { type: integer }
        allowed_engines:
          # planJSON (jieun-platform) emits null for a nil AllowedEngines
          # slice — established behavior since T-100, also used by
          # GET /v1/admin/plans, not something this schema should force
          # a handler-side change to avoid.
          type: array
          items: { type: string }
          nullable: true
        benefits:
          type: array
          items: { type: string }
    Page:
      type: object
      required: [has_more, limit]
      properties:
        next_cursor: { type: string }
        has_more: { type: boolean }
        limit: { type: integer }
    Dashboard:
      type: object
      required: [greeting, stats, pipeline, running_jobs, upcoming, quota, performance_7d, attention]
      properties:
        greeting:
          type: object
          required: [name, part_of_day]
          properties:
            name: { type: string }
            part_of_day: { type: string }
        stats:
          type: object
          required: [published_this_month, drafts, scheduled, accounts_issues]
          properties:
            published_this_month: { type: integer }
            drafts: { type: integer }
            scheduled: { type: integer }
            accounts_issues: { type: integer }
        pipeline:
          type: array
          items:
            type: object
            required: [stage, count]
            properties:
              stage: { type: string }
              count: { type: integer }
        running_jobs:
          type: array
          items:
            type: object
            required: [job_id, title, percent, step]
            properties:
              job_id: { type: string }
              title: { type: string }
              percent: { type: integer }
              step: { type: string }
        upcoming:
          type: array
          items:
            type: object
            required: [distribution_id, publish_at, local_time, title, account, platform]
            properties:
              distribution_id: { type: string }
              publish_at: { type: string, format: date-time }
              local_time: { type: string }
              title: { type: string }
              account: { type: string }
              platform: { type: string }
        quota:
          type: object
          required: [videos, storage_mb]
          properties:
            videos:
              type: object
              required: [used, limit]
              properties:
                used: { type: integer }
                limit: { type: integer }
            storage_mb:
              type: object
              required: [used, limit]
              properties:
                used: { type: integer }
                limit: { type: integer }
        performance_7d:
          type: object
          required: [views, change_pct, sparkline]
          properties:
            views: { type: integer }
            change_pct: { type: number }
            sparkline:
              type: array
              items: { type: integer }
        attention:
          type: array
          items:
            type: object
            required: [type, severity, message, link]
            properties:
              type: { type: string }
              severity: { type: string }
              message: { type: string }
              link:
                # AttentionItem.Link is *string in jieun-platform, sourced
                # straight from notifications.link which is a nullable DB
                # column — a real null, not an encoding artifact.
                type: string
                nullable: true
    VideoSource:
      type: object
      required: [type, label]
      properties:
        type: { type: string }
        label: { type: string }
    VideoSummary:
      type: object
      required: [id, title, status, method, duration_ms, ratio, size_mb, thumbnail_url, source, platforms, created_at]
      properties:
        id: { type: string }
        title: { type: string }
        status: { type: string }
        method: { type: string }
        # Video.DurationMs/Ratio/SizeBytes are *int64/*string/*int64 in
        # jieun-platform — null until jieun.render.completed sets them,
        # not an encoding artifact.
        duration_ms: { type: integer, nullable: true }
        ratio: { type: string, nullable: true }
        size_mb: { type: integer, nullable: true }
        thumbnail_url: { type: string }
        source:
          $ref: "#/components/schemas/VideoSource"
        platforms:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
    VideoDistribution:
      type: object
      required: [platform, account_name, status, scheduled_at, published_at, external_url]
      properties:
        platform: { type: string }
        account_name: { type: string }
        status: { type: string }
        scheduled_at: { type: string, format: date-time, nullable: true }
        published_at: { type: string, format: date-time, nullable: true }
        external_url: { type: string, nullable: true }
    VideoHistoryEntry:
      type: object
      required: [at, event, detail]
      properties:
        at: { type: string, format: date-time }
        event: { type: string }
        detail: { type: string }
    VideoDetail:
      type: object
      required: [id, title, status, method, duration_ms, ratio, size_mb, thumbnail_url, source, render_profile, distributions, history, created_at]
      properties:
        id: { type: string }
        title: { type: string }
        status: { type: string }
        method: { type: string }
        duration_ms: { type: integer, nullable: true }
        ratio: { type: string, nullable: true }
        size_mb: { type: integer, nullable: true }
        thumbnail_url: { type: string }
        source:
          $ref: "#/components/schemas/VideoSource"
        render_profile:
          # json.RawMessage stays nil (→ null) until a render actually
          # writes RenderProfile — same reasoning as duration_ms/ratio.
          type: object
          nullable: true
        distributions:
          type: array
          items:
            $ref: "#/components/schemas/VideoDistribution"
        history:
          type: array
          items:
            $ref: "#/components/schemas/VideoHistoryEntry"
        created_at: { type: string, format: date-time }
  responses:
    ErrorResponse:
      description: Error seragam — lihat komponen Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
